
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
Olist/.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
