
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
Olist/.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
Olist/.ipynb_checkpoints/Olist_Funnel_Analysis-checkpoint.ipynb
Olist/.ipynb_checkpoints/Olist_Customer_Analysis-checkpoint.ipynb
.ipynb_checkpoints/E-Commerce-checkpoint.ipynb
.ipynb_checkpoints/Acquisition Analysis-checkpoint.ipynb
