
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
.ipynb_checkpoints/customer-segmentation-ltv-checkpoint.ipynb
